---

import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import { Picture } from 'astro:assets';
import Button from '../components/Button.astro';
import TestimonialTabs from '../components/TestimonialTabs.astro';
import Icon from '../components/Icon.astro';

const title = '404 - Page Not Found';
const description = 'A UK Based front-end developer who focuses on building fast, secure websites that are accessible to all.';
const Name = 'Hayden Tomas - Website Developer';
const image = '/images/open-graph.webp'; // Relative path to your OG image

// Define a type for the individual post item (adjusted)
type PostItem = {
    data: {
        title: string;
        subTitle: string;
        description: string;
        image: any; // Use a generic type for the image property
        imageAlt: string;
        pubDate?: string; // Make pubDate optional
        icons?: string[]; // Add the icons property here
        whatwedid?: string[]; // Add the icons property here
    };
    slug: string;
};

// Fetch the latest 3 posts (replace 'posts' with your actual collection name if different)
const posts = await getCollection('posts', ({ data }) => data.draft !== true);
posts.sort((a, b) => {
    const dateA = a.data.pubDate ? new Date(a.data.pubDate) : new Date(0);
    const dateB = b.data.pubDate ? new Date(b.data.pubDate) : new Date(0);
    return dateB.getTime() - dateA.getTime();
});
const latestPosts = posts.slice(0, 3) as unknown as PostItem[]; // Type assertion








// Fetch the latest 3 posts (replace 'posts' with your actual collection name if different)
const projects = await getCollection('projectstagged', ({ data }) => data.draft !== true);
projects.sort((a, b) => {
    const dateA = a.data.pubDate ? new Date(a.data.pubDate) : new Date(0);
    const dateB = b.data.pubDate ? new Date(b.data.pubDate) : new Date(0);
    return dateB.getTime() - dateA.getTime();
});
const latestProjects = projects.slice(0, 2) as unknown as PostItem[]; // Type assertion






// Import the <Image /> component
import { Image } from "astro:assets"
// Import a reference to the image itself
import whatIdoImage from "../assets/hero-dev.png"
import question from "../assets/contact.png"




---
<MainLayout title={title} description={description} image={image}>




 
    <section class="hero grid py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-centere lg:col-span-7">
        <p><strong>Sorry!</strong></p>
        <h1>This page cannot be found! </h1>
        <p class="max-w-2xl">
          Use the menu above to navigate to a different page or click the button below to return to the homepage.
        </p>
        <p class="max-w-2xl">
        If you have a specific question or need help with a project, please feel free to contact me.
        </p>
        <h3 class="max-w-2xl mb-6 lg:mb-8 md:text-lg lg:text-2xl dark:text-white">
          Do you have a project in mind?
        </h3>
        <span class="inline-flex items-center justify-center pr-5 py-3 mr-3 text-base font-medium text-center rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900 dark:text-white">
          Get started
          <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </span>
        <Button href="/contact" aria="Start your project" href="/contact">Contact Hayden</Button>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:grid">
        <Image
          loading="eager"
          src={whatIdoImage}
          widths={[240, 540, 720, 1024, whatIdoImage.width]}
          sizes={`(max-width: 360px) 24vw, (max-width: 720px) 48vw, (max-width: 1600px) 64vw, 100vw`} 
          alt="Hayden Tomas = Front end website developer"
          class=""
        />
      </div>
    </section>
 

    













  
</MainLayout>





<style>
    .icons {


    img {
        @apply bg-slate-800 border border-slate-500 rounded-sm p-[2px] w-8 shadow-sm;

    }
    }


    @media (max-width: 767px) {  /* Mobile-specific order reversal for all projects */
    .grid > div > div.flex > .flex-col:first-child {
      order: 2;  /* Reverse order of first flex item (content section) on mobile */
    }
  }
</style>