---
import MainLayout from '../layouts/MainLayout.astro';


const title = 'Contact Hayden Tomas - Website Developer';
const description = 'A UK Based front-end developer who focuses on building fast, secure websites that are accessible to all.';
const Name = 'Hayden Tomas - Website Developer';

import Button from '../components/Button.astro';
// Import the <Image /> component
import { Image } from "astro:assets"
// Import a reference to the image itself
import topImage from '../assets/heronew.png'; 
import otherImage from "../assets/settings.png"
import cassetteImage from "../assets/cassette.png"
import whatIdoImage from "../assets/coffee.png"
---

<MainLayout title={title} description={description}>
  <section class="hero grid py-8 mx-auto lg:gap-20 xl:gap-0 lg:py-16">
   <!-- Block start -->
   <section class="">
    <div class=" px-4 mx-auto max-w-screen-md">
        <h1 class="text-center">Contact Us</h2>
        <p class="mb-8 lg:mb-16 font-light text-center sm:text-xl">Got a technical issue? Want to send feedback about a beta feature? Need details about our Business plan? Let us know.</p>
        <form name="contact" method="POST" data-netlify="true">
          <p>
            <label>Your Name: <input type="text" name="name" /></label>
          </p>
          <p>
            <label>Your Email: <input type="email" name="email" /></label>
          </p>
          <p>
            <label>Your Role: <select name="role[]" multiple>
              <option value="leader">Leader</option>
              <option value="follower">Follower</option>
            </select></label>
          </p>
          <p>
            <label>Message: <textarea name="message"></textarea></label>
          </p>
          <p>
            <button type="submit">Send</button>
          </p>
        </form>

          

    <!-- <div class="formaloo--root-container" data-form-slug="vosW3M30"></div> -->
    

    </div>
  </section>
<!-- Block end -->

  </section>


  <script is:inline src="https://embed.formaloo.me/v1/main.js" defer async></script>










   
   
    
   
   

 
 
 

 
	



</MainLayout>