---
const today = new Date();
import { Image } from "astro:assets"
// Import a reference to the image itself
import mugshot from "../assets/hayden-tomas.jpg"
---

<footer class="dark:bg-gray-900">

<div class="container pt-10 ">
    
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
   
    <div class="md:flex md:justify-between pt-10">
        
        <div class="mb-6 md:mb-0">
            <a href="https://flowbite.com" class="flex items-center">
                <Image loading="eager" src={mugshot}
                widths={[240, 540, 720, mugshot.width]}
                sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${mugshot.width}px`}
                alt="Hayden Tomas = Front end website developer" class="object-cover  w-10 mr-5 h-full max-w-full border-2 border-teal-400 border-solid rounded-full"
              />
                <span
                    class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Hayden Tomas</span>
            </a>
            <p class= "my-4 max-w-md">I am a front-end web developer specialising in accessible, secure and scalable web development. </p>
        
            <div class="footericons">
                <ul class="theicons">
                    <li>
                      <a href="#">
                        <i class="fab fa-github"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                      </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      
                    </li>
                  
                  </ul>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
                <h2>Resources</h2>
                <ul>
                    <li>
                        <a href="https://flowbite.com" class="hover:underline">Flowbite</a>
                    </li>
                    <li>
                        <a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2>Follow us</h2>
                <ul>
                    <li>
                        <a href="https://github.com/themesberg/flowbite" class="hover:underline ">Github</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Discord</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2>Legal</h2>
                <ul>
                    <li>
                        <a href="#" class="hover:underline">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between pb-8">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">&copy; {today.getFullYear()} Hayden Tomas Built  with ❤️ + <a href="https://astro.build!">AstroJS</a>
        </span>
    
    </div>

</div>
   



 </footer>





<style>
footer li{
a, a:link, a:visited {
  text-decoration: none;
  position: relative;
  padding-bottom: 6px;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #16bdca, #0b8992);
  background-size: 0 4px;
  background-repeat: no-repeat;
  background-position: right bottom;
  transition: background-size .3s ease-in;
  border-radius:10px;
}

a:hover::before {
  background-size: 100% 4px;
}
}



ul.theicons {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:45px 45px 45px;
}

.footericons ul li {
  list-style: none;
  margin: 0px;
}

.footericons  ul li a {
  position: relative; 
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background: #333;
  border-radius: 50%;
  font-size: 20px;
  color: #dadada;
  transition: .5s;
}

.footericons ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #16bdca;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.footericons  ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px  #16bdca;
}

.footericons  ul li a:hover {
    @apply text-white;
    background-color: #16bdca;
  /* box-shadow: 0 0 5px  #16bdca;
  text-shadow: 0 0 5px #16bdca; */
}


</style>

