---
const { href } = Astro.props;
const { aria } = Astro.props;
const { target } = Astro.props;
---

<a aria-label={aria} href={href} target={target}>
    <button class="btn draw-border md:inline-flex">
        <slot />
    </button></a>