---

const { current = '' } = Astro.props;
---

<style>
  nav {
    align-items: center;
    display: flex;
    flex: 1;
    font-family: var(--font-family-sans);
    font-weight: 700;
    justify-content: flex-end;
    text-transform: uppercase;
  }

  a {
  @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700
    
    
  }

  a:not(.selected) {
    opacity: 0.8;
  }

 

  a:hover::before,
  .selected::before {
    transform: scaleX(1);
  }

  .selected::before {
    background: var(--primary-color);
  }

  .theme-toggle-container {
    width: 75px;
  }

  @media (max-width: 768px) {
    .theme-toggle-container {
    width: 75px;
    position: absolute;
    top:20px;
  }
  }

  nav a.button {
  @apply rounded-3xl text-black px-5 bg-neutral-50 hover:bg-neutral-700 hover:text-white;
font-size:1em;
}
  nav a.button::before {
  display:none !important;}

    nav a.button {
      display: none;
    }
  

</style>
<nav>
<ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
  <a class={current === "" ? "selected" : ""} href='/'>home</a>
  <a class={current === "about" ? "selected" : ""} href='/about'>about</a>
  <a class={current === "blog" ? "selected" : ""} href='/blog'>blog</a>
  <a class={current === "projects" ? "selected" : ""} href='/projects'>projects</a>
</ul>
</nav>