---
const { current = '' } = Astro.props;
---
<ul class="navigation flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
  {
    [
   
      { name: "About", path: "/about/" },
      { name: "Services", path: "/services/" },
      { name: "Projects", path: "/projects/" },
      { name: "Blog", path: "/blog/" },
      { name: "Contact", path: "/contact/" },
    ].map((link) => (
      <li class="mb-0">
      <a 
  class={`
    
    block py-2 pr-4 pl-3 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0  lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700
    ${Astro.url.pathname === link.path ? "selected" : "not-selected"}
  `} 
  href={link.path}
>
  {link.name}
</a>
      </li>
    ))
  }
</ul>


<style>

@media only screen and (min-width:1440px){
  .navigation li {
    a,
    a:link,
    a:visited {
      text-decoration: none;
      position: relative;
      padding-bottom: 6px;
    }

    a::before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      background-image: linear-gradient(90deg, #16bdca, #0b8992);
      background-size: 0 4px;
      background-repeat: no-repeat;
      background-position: right bottom;
      transition: background-size 0.3s ease-in;
      border-radius: 10px;
    }

    a.selected::before {
      background-size: 100% 4px;
    }
  }
}

</style>