---
import { Image } from "astro:assets"
// Import a reference to the image itself
import whatIdoImage from "../assets/face-done.png"
const { title } = Astro.props;

---

<section class="bg-slate-950 shadow-lg mt-10 mb-14 md:mt-20 md:mb-40 rounded-3xl p-5  md:p-10 ">
  <div class="relative pt-10 pb-32 mx-auto stitched">
      <h2 class="w-full text-4xl font-extrabold tracking-normal  sm:text-5xl md:text-6xl md:pr-10 lg:pr-16 xl:pr-20 md:leading-none md:-mt-2 md:w-1/2">{title} </h2>

      <div class="flex flex-col w-full mt-8 space-y-5 md:w-1/2 md:space-y-10 md:mt-0">
         <slot />

      </div>
  </div>
</section>


<style>
   .stitched {
padding:50px;
border-radius:30px;
background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%2317BCC5' stroke-width='9' stroke-dasharray='6%2c 38' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
border-radius: 30px;

p{
  @apply col-span-6 text-base font-normal  lg:leading-8 xl:leading-8 md:text-xl;
}
}


</style>