---
// Import necessary utilities

import { getCollection } from 'astro:content';
// import MarkdownPostLayout from '../../layouts/MarkdownPostLayout.astro';
import PostLayout from '../../layouts/PostLayout.astro';
import Icon from '../../components/Icon.astro';


export async function getStaticPaths() {
  const blogEntries = await getCollection('projectstagged');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();


<PostLayout frontmatter={entry.data}>
  <div class="flex gap-2 mt-2"> 
    {entry.data.icons?.map(icon => <Icon name={icon} />)}
</div>
  <Content />

  <div style="width: 600px; margin: auto auto; text-align: center;">




  </div>

</PostLayout>
